name: Test, Build and Push Docker Image

on:
  pull_request:
  release:

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r tests/requirements.txt
          pip install -r src/requirements.txt

      - name: Run tests
        run: |
          pytest -s tests/

      - name: Test Docker build image
        run: |
          docker build -t adyekjaer/postfix-exporter-py:latest .

  build-and-push:
    if: github.event_name == 'release'
    runs-on: ubuntu-latest
    needs: tests

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract version from tag
        id: vars
        run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

      - name: Build Docker image (tag)
        run: |
          docker build -t adyekjaer/postfix-exporter-py:${VERSION} -t adyekjaer/postfix-exporter-py:latest .

      - name: Push Docker image (tag)
        run: |
          docker push adyekjaer/postfix-exporter-py:${VERSION}
          docker push adyekjaer/postfix-exporter-py:latest

